
<!-- MYROOMS LAYOUT -->
<head>
    <title>CampUNav</title>
</head>
<template name="MyRoomsLayout">
    <body class="lgbody">
    <div style="height: 100%; width: 100%; background: rgba(73,32,126,.9); overflow: scroll;">{{x}}
      {{> yield "header"}}
      {{> yield "form"}}
      {{#each myRooms}}
        {{> yield}}
      {{/each}}
      {{> yield "footer"}}
    </div>
    </body>
</template>
<!-- END MYROOMS LAYOUT -->


<!-- ROOM SEARCH BY COURSE TEMPLATE -->
<template name="roomform">
    <form id="bldgRmSrch">
        <label style="color: #00f030;">Department</label>
        <select>
                {{> dept}}
        </select>
        <label style="color: #00f030;">Course</label>
        <select>
            <option>3000</option>
            <option>3001</option>
            <option>3002</option>
        </select>
        <label style="color: #00f030;">Section</label>
        <select>
            <option>001</option>
            <option>002</option>
            <option>003</option>
        </select>
    </form>
</template>
<!-- END ROOM SEARCH BY COURSE TEMPLATE  -->


<!-- SAVED ROOMS VIEWER -->
<template name="roomcontent">'30.41324-91.18183',
    <nav class="nav-n">
        <ul class="list-bar" id="blob">
            <li class="li-l">BLDG  ROOM  DEPT  CRSE  SECT

            </li>
        </ul>
    </nav>
    <div class="list-frame" id="blob1">
        <list style="list-style: none">
            <li style="height: 65px; padding: 20px; border-bottom: 1px inset #003010">
                <span style="float: left">
                    <div style="color: rgba(0,0,0,.5); width: 40px; text-align: center; border: 1px solid #00f030; border-radius: 12.5px; padding-left: 10px; padding-right: 10px; background-color: #009020">M</div>
                </span>
                <span style="float: left">
                    <div style="color: rgba(0,0,0,.5); width: 40px; text-align: center; border: 1px solid #00f030; border-radius: 12.5px; padding-left: 10px; padding-right: 10px; background-color: #009020">T</div>
                </span>
                <span style="float: left">
                    <div style="color: rgba(0,0,0,.5); width: 40px; text-align: center; border: 1px solid #00f030; border-radius: 12.5px; padding-left: 10px; padding-right: 10px; background-color: #009020">W</div>
                </span>
                <span style="float: left">
                    <div style="color: rgba(0,0,0,.5); width: 40px; text-align: center; border: 1px solid #00f030; border-radius: 12.5px; padding-left: 10px; padding-right: 10px; background-color: #009020">TH</div>
                </span>
                <span style="float: left">
                    <div style="color: rgba(0,0,0,.5); width: 40px; text-align: center; border: 1px solid #00f030; border-radius: 12.5px; padding-left: 10px; padding-right: 10px; background-color: #009020">F</div>
                </span>
                <span style="float: right;">
                    <div style="float: right; color: rgba(0,0,0,.5); border: 1px solid #00f030; border-radius: 12.5px; padding-left: 10px; padding-right: 10px; background-color: #009020">TI:ME</div>
                </span>
            </li>

            <li style="height: 65px; padding: 20px; border-bottom: 1px inset #003010">
                <span style="color: #00f030;">TEACHER</span>
                <span><div style="float: right; color: #00f030; border: 1px solid #00f030; border-radius: 12.5px; padding-left: 10px; padding-right: 10px; background-color: #009020">OFFICE</div> </span>
            </li>
            <li style="height: 65px; padding: 20px; border-bottom: 1px inset #003010">
                <button style="color: #00f030; position: relative; width: inherit">Take me here</button>
            </li>
        </list>
    </div>
</template>
<!-- END SAVED ROOMS VIEWER -->


<!-- FOOTER TEMPLATE -->
<template name="ftr">
    <p>
        <button class="logout" value="Logout">Logout</button>

    </p>
</template>
<!-- END FOOTER TEMPLATE -->

<template name="dept">
    {{#each Dept}}
        <option>{{department}}</option>
        <script>console.log('success');</script>
    {{/each}}
</template>